<section class="banner-dos" id="formulario-contacto">
    <section class="section-formulario">
        <h2 class="titulo-form">Deja tu mensaje</h2>
    <p clasS="p-form">Si tenes alguna duda, sugerencia o consulta podes mandarme un mensaje con tus datos acá</p>
    <form (ngSubmit)="onSubmit(formContacto.value)" class="formulario-contacto" #formContacto="ngForm">
            <div>
            <label for="usuario">NOMBRE</label>
            <input id="usuario" type="text" placeholder="INGRESE SU NOMBRE" name="nombre" [(ngModel)]="formodel.nombre" required #nombreV="ngModel">
            <div [hidden]="nombreV.valid || nombreV.untouched">campo requerido</div>
            <label for="contrasenia">APELLIDO</label>
            <input id="contrasenia" type="text" placeholder="INGRESE SU APELLIDO" name="apellido" [(ngModel)]="formodel.apellido" required #apellidoV="ngModel">
            <div [hidden]="apellidoV.valid || apellidoV.untouched">campo requerido</div>
            <label for="correo">CORREO</label>
            <input id="correo" type="email" placeholder="INGRESE SU CORREO" name="correo" [(ngModel)]="formodel.correo" required #correoV="ngModel">
            <div [hidden]="correoV.valid || correoV.untouched">campo requerido</div>
            <label for="nombre">TELÉFONO</label>
            <input id="nombre" type="tel" placeholder="INGRESE SU TELEFONO" name="telefono" [(ngModel)]="formodel.telefono" required #telefonoV="ngModel">
            <div [hidden]="telefonoV.valid || telefonoV.untouched">campo requerido</div>
            </div>
            <div class="text-area-div">
            <label for="textarea" id="text-area-label">MENSAJE</label>
            <textarea name="textarea" rows="10" cols="137" class="text-area" [(ngModel)]="formodel.mensaje" required></textarea>
            </div>
            <button type="submit" class="boton-form"[disabled]="formContacto.invalid">ENVIAR</button>
    </form>
    </section>
</section>
