<main>
    <div class="banner-formulario">
        <h2 class="h2-banner-paginas" id="banner-perfil">PERFIL</h2>
    </div>
    <section class="section-perfil">
        <div class="div-form-perfil">
            <form action="" method="post" class="formulario-perfil">
                <div class="form-perfil-div">
                    <h2>DATOS</h2>
                    <label for="nombre">NOMBRE</label>
                    <input id="nombre" type="text" value="{{this.usuario.persona.nombre}}">
                    <label for="apellido">APELLIDO</label>
                    <input id="apellido" type="text" value="{{this.usuario.persona.apellido}}">
                    <label for="telefono">TELÉFONO</label>
                    <input id="telefono" type="tel" value="{{this.usuario.persona.telefono}}">
                    <label for="usuario">USUARIO</label>
                    <input id="usuario" type="text" name="usuario" readonly value="{{this.usuario.usuario}}">
                    <label for="correo">CORREO</label>
                    <input id="correo" type="mail" name="correo" readonly value="{{this.usuario.correo}}">
                    <button type="submit" class="boton-actualizar-datos">ACTUALIZAR DATOS</button>
                    <div id="respuesta">
                        <p id="p-validacion">.</p>
                    </div>
                    </div>
            </form>
            <div id="div-botones"><button type="button" class="boton-eliminarcuenta">ELIMINAR CUENTA</button>
                <button type="button" class="boton-confirmar">CONFIRMAR</button>
                <button type="button" class="boton-cancelar">CANCELAR</button></div>
            
            <div id="respuesta">
                <p id="p-validacion">.</p>
            </div>
        </div>
        <div class="div-tabla-reservas">
            <h2>RESERVAS</h2>
            <table class="tabla-reservas">
                <thead>
                    <th>Nº</th>
                    <th>NOMBRE</th>
                    <th>PRECIO</th>
                    <th>FECHA</th>
                </thead>
                <tbody id="tablaBody">
                    <tr *ngFor="let x of this.usuario.reservas; let i=index">
                        <td>{{this.usuario.reservas[i].idReserva}}</td>
                        <td>{{this.usuario.reservas[i].servicio.nombre}}</td>
                        <td>${{this.usuario.reservas[i].servicio.precio}}</td>
                        <td>{{this.usuario.reservas[i].fechaReserva|date:"dd/MM/yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
