<main>
    <div class="banner-formulario">
        <h2 class="h2-banner-paginas" id="banner-perfil" *ngIf="usuarioPerfil">{{usuarioPerfil.persona?.nombre}} {{usuarioPerfil.persona?.apellido}}</h2>
    </div>
    <section class="section-perfil">
        <div class="div-form-perfil">
            <form action="" method="post" class="formulario-perfil">
                <div class="form-perfil-div">
                    <h2>DATOS</h2>
                    <label for="nombre">NOMBRE</label>
                    <input id="nombre" type="text" value="{{usuarioPerfil?.persona?.nombre}}">
                    <label for="apellido">APELLIDO</label>
                    <input id="apellido" type="text" value="{{usuarioPerfil?.persona?.apellido}}">
                    <label for="telefono">TELÉFONO</label>
                    <input id="telefono" type="tel" value="{{usuarioPerfil?.persona?.telefono}}">
                    <label for="usuario">USUARIO</label>
                    <input id="usuario" type="text" name="usuario" readonly value="{{usuarioPerfil?.usuario}}">
                    <label for="correo">CORREO</label>
                    <input id="correo" type="mail" name="correo" readonly value="{{usuarioPerfil?.correo}}">
                    <button type="submit" class="boton-actualizar-datos">ACTUALIZAR DATOS</button>
                    <div id="respuesta">
                        <p id="p-validacion">.</p>
                    </div>
                    </div>
            </form>
            <div id="div-botones"><button type="button" class="boton-eliminarcuenta">ELIMINAR CUENTA</button>
                <button type="button" class="boton-confirmar">CONFIRMAR</button>
                <button type="button" class="boton-cancelar">CANCELAR</button></div>
            
            <div id="respuesta">
                <p id="p-validacion">.</p>
            </div>
        </div>
        <div class="div-tabla-reservas">
            <h2>RESERVAS</h2>
            <table class="tabla-reservas">
                <thead>
                    <th>Nº</th>
                    <th>NOMBRE</th>
                    <th>PRECIO</th>
                    <th>FECHA</th>
                </thead>
                <tbody id="tablaBody">
                    <tr *ngFor="let x of this.usuarioPerfil?.reservas">
                        <td>{{x.idReserva}}</td>
                        <td>{{x.servicio?.nombre}}</td>
                        <td>${{x.servicio?.precio}}</td>
                        <td>{{x.fechaReserva|date:"dd/MM/yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
