<main>
    <div class="banner-formulario">
        <h2 class="h2-banner-paginas" id="banner-perfil">PERFIL</h2>
    </div>
    <section class="section-perfil">
        <div class="div-form-perfil">
            <form action="" method="post" class="formulario-perfil">
                <div class="form-perfil-div">
                    <h2>DATOS</h2>
                    <label for="nombre">NOMBRE</label>
                    <input id="nombre" type="text">
                    <label for="apellido">APELLIDO</label>
                    <input id="apellido" type="text">
                    <label for="telefono">TELÉFONO</label>
                    <input id="telefono" type="tel">
                    <label for="usuario">USUARIO</label>
                    <input id="usuario" type="text" name="usuario" readonly>
                    <label for="correo">CORREO</label>
                    <input id="correo" type="mail" name="correo" readonly>
                    <button type="submit" class="boton-actualizar-datos">ACTUALIZAR DATOS</button>
                    <div id="respuesta">
                        <p id="p-validacion">.</p>
                    </div>
                    </div>
            </form>
            <div id="div-botones"><button type="button" class="boton-eliminarcuenta">ELIMINAR CUENTA</button>
                <button type="button" class="boton-confirmar">CONFIRMAR</button>
                <button type="button" class="boton-cancelar">CANCELAR</button></div>
            
            <div id="respuesta">
                <p id="p-validacion">.</p>
            </div>
        </div>
        <div class="div-tabla-reservas">
            <h2>RESERVAS</h2>
            <table class="tabla-reservas">
                <thead>
                    <th>Nº RESERVA</th>
                    <th>DETALLE</th>
                </thead>
                <tbody id="tablaBody">
                    
                </tbody>
            </table>
        </div>
    </section>
</main>
