<main>
    <div class="slider">
    <ul>
        <li style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(assets/banner-bod.jpg)" class="banner">
            <h2 class="h2-banner">SOÑAR</h2>
        </li>
        <li style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(assets/imagen-disfrutar.jpg)" class="banner">
            <h2 class="h2-banner">DISFRUTAR</h2>
        </li>
        <li style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(assets/imagen-guardar.jpg)" class="banner">
            <h2 class="h2-banner">GUARDAR</h2>
        </li>
        <li style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(assets/imagen-recordar-2.jpg)" class="banner">
            <h2 class="h2-banner">RECORDAR</h2>
        </li>
    </ul>
</div>
<section class="contenedor-sobremi">
    <div class="recuadro-uno">
        <h2 class="h2-recuadro-uno">SOBRE MI</h2>
        <p class="p-recuadro-uno">Fotógrafo nacido en La Rioja, con más de 10 años de experiencia en el rubro. Se destacan mis trabajos realizados para conciertos, bodas, sesiones de estudio y sesiones en exteriores con reconocidos modelos nacionales e internacionales, como así también el trabajo con empresas de variados sectores. Hace 5 años cree mi propia marca llamada <strong>EMCAS</strong> la cual es sinónimo de calidad, atención al detalle, compromiso y confiabilidad en el sector de la fotografía. Siempre atento a capturar el momento preciso, la sonrisa espontánea, mi punto de vista de cada lugar y personas a las que retrato. Espero que puedas disfrutar de tu visita en esta página y que pronto podamos contactarnos para hacer algo juntos.</p>
        <img src="assets/EMCAS-logo-negro.png" alt="" width="150px" height="150px" class="logo-emcas-negro">
    </div>
    <div class="recuadro-dos">
        <img src="assets/foto-aboutme.jpg" alt="" width="600px" height="600">
    </div>
</section>
</main>
