<div class="banner-formulario">
    <h2 class="h2-banner-paginas" id="banner-servicios" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(assets/banner-servicios.jpg);">RESERVA</h2>
</div>
<section class="section-formulario-reserva">
    <button class="boton-atras-reserva" id="boton-atras-reserva">🡰</button>
    <h2 class="titulo-form">Tu reserva</h2>
<p class="p-form">Ingresa tus datos para hacer la reserva</p>
<form class="formulario-contacto">
        <div class="reserva-form-div">
        <label for="nombre">NOMBRE</label>
        <input id="nombre" type="text" placeholder="INGRESE SU NOMBRE" value="{{usuarioInfo?.persona?.nombre}}">
        <label for="apellido">APELLIDO</label>
        <input id="apellido" type="text" placeholder="INGRESE SU APELLIDO" value="{{usuarioInfo?.persona?.apellido}}">
        <label for="telefono">TELÉFONO</label>
        <input id="telefono" type="tel" placeholder="INGRESE SU TELEFONO" value="{{usuarioInfo?.persona?.telefono}}">
        <label for="fechaReserva">FECHA PARA LA SESIÓN</label>
        <input id="fechaReserva" type="date" min="2023-02-24" max="2023-12-31">
        <div class="detalles-recuadro-dos">
            <h2 class="h2-reserva">{{servicios?.nombre}}</h2>
            <p class="p-reserva">{{servicios?.descripcion}}</p>
            <p class="precio-reserva">{{servicios?.precio}}</p>
        </div>
            <p id="p-validacion">.</p>
        <button class="boton-confirmar-reserva">CONFIRMAR RESERVA</button>
        </div>
        
</form>
</section>