<header id="header" [ngClass]="{'barra-color': barraNegra, 'barra-transparente': barraTrans}">
    <nav>
        <ul id="ul-navbar">
            <a routerLink="/" class="logo-emcas-over"><img src="assets/EMCAS-logo-blanco.png" alt="Logo EMCAS" class="logo-emcas"></a>
            <li><a routerLink="/servicios">SERVICIOS</a></li>
            <li><a routerLink="/contacto">CONTACTO</a></li>
            <div *ngIf="sesion; else elseBotones">
                <li id="navbar-perfil"><a routerLink="/perfil">PERFIL</a></li>
                <li id="navbar-cerrarsesion" onclick="cerrarSesion()"><a routerLink="/sesion">CERRAR SESIÓN</a></li>
            </div>
            <ng-template #elseBotones>
                <li id="navbar-registro"><a routerLink="/registro">REGISTRO</a></li>
                <li id="navbar-sesion"><a routerLink="/sesion">INICIAR SESIÓN</a></li>
            </ng-template>
        </ul>
    </nav>
</header>