<main class="main-form-registro-sesion">
    <h2 class="text-registro-sesion">INICIAR SESIÓN</h2>
    <form class="form-registro-sesion" id="formulario-sesion">
        <div class="div-form-registro-sesion">
        <label for="usuario">USUARIO</label>
        <input name="usuario" type="text" placeholder="Ingrese su usuario" id="usuario" autocomplete="off">
        <label for="contrasenia">CONTRASEÑA</label>
        <input name="contrasenia" type="password" placeholder="Ingrese su contraseña" id="contrasenia" autocomplete="off">
        <div id="respuesta">
            <p id="p-validacion">.</p>
        </div>
        <button type="submit" class="boton-registro-sesion">INICIAR SESIÓN</button>
        </div>
</form>
</main>
