<main class="main-form-registro-sesion">
    <h2 class="text-registro-sesion">REGISTRO</h2>
    <form action="" method="POST" class="form-registro-sesion" id="formulario-registro">
        <div class="div-form-registro-sesion">
        <label for="correo">CORREO</label>
        <input name="correo" id="correo" type="email" placeholder="Ingrese su correo">
        <label for="usuario">USUARIO</label>
        <input name="usuario" id="usuario" type="text" placeholder="Ingrese su usuario">
        <label for="contrasenia">CONTRASEÑA</label>
        <input name="contrasenia" id="contrasenia" type="password" placeholder="Ingrese su contraseña">
        <label for="repcontrasenia">REPETIR CONTRASEÑA</label>
        <input name="repcontrasenia" id="rep-contrasenia" type="password" placeholder="Repita su contraseña">
        <p id="p-validacion">.</p>
        <button type="submit" class="boton-registro-sesion">REGISTRARSE</button>
        </div>
</form>
</main>
