<div class="banner-formulario">
    <h2 class="h2-banner-paginas" id="banner-servicios" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(assets/banner-servicios.jpg);">SERVICIOS</h2>
</div>
<section class="contenedor-detalles" id="contenedor-detalles">
    <button class="boton-atras" id="boton-atras">🡰</button>
        <div class="detalles-recuadro-uno">
            <ul>
                <li style="background-image: url(assets/detalle-sesionindividual.jpg)" class="imagen-uno">
                </li>
                <li style="background-image: url(assets/detalle-sesionindividual2.jpg)" class="imagen-dos">
                </li>
                <li style="background-image: url(assets/detalle-sesionindividual3.jpg)" class="imagen-tres">
                </li>
                <li style="background-image: url(assets/detalle-sesionindividual4.jpg)" class="imagen-cuatro">
                </li>
            </ul>
    </div>
    <div class="detalles-recuadro-dos">
        <h2 class="h2-detalles-uno">.</h2>
        <p class="p-detalles-uno">.</p>
        <p class="precio-uno">.</p>
        <button class="boton-detalle-reservar">RESERVAR</button>
    </div>
</section>
